<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Tesla Components</title>
	
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	
<link href="layout.css" rel="stylesheet" type="text/css">
	
</head>

<body>
	<!-- This is the Navigation Content -->
	 <div class="toppage">
				
		   <div class="logo"><a href="index.html"><img src="img/logotesla.png" width="1666" height="144" alt="Logo Tesla" border="0" class="logo_img"/></a></div>
			  
		   <div class="navbar"> 
					<div class="nav"><a href="nav_windows/vehicles.html"> Vehicles</a></div>
				  	<div class="nav"><a href="nav_windows/energy.html"> Energy</a></div>
					<div class="nav"><a href="nav_windows/charging.html"> Charging</a></div>
					<div class="nav"><a href="nav_windows/discover.html"> Discover</a></div>
					<div class="nav"><a href="nav_windows/shop.html"> Shop</a></div>
	   </div>  
		   <div class="search">
				  <div><a href="search"><img src="img/quest_icon.png" width="551" height="560" alt=" Quest Icon" border="0" class="search_icons"/></a></div>
				 <div> <a href="search"><img src="img/web_icon.png" width="615" height="607" alt="Web Icon" border="0" class="search_icons"/></a></div>
				 <div> <a href="search"><img src="img/user_icon.png" width="515" height="525" alt="User Icon" border="0" class="search_icons"/></a></div>
	   </div>		 
</div>

<!-- This is the Component Content -->
	<!-- Hero Section -->
	<div class="row">
     	<div class="col-8">
      	  <div class="hero_content">
		  	<img src="img/cybertruck_hero.jpg" width="1000" height="593" alt="Hero Image Cybertruck"/>
			  <p class="hero_text_headline">
			  Built for ANY PLANET</p>
			  <p> DURABLE AND RUGGED ENOUGH TO GO ANYWHERE. TACKLE ANYTHING WITH ELECTRONICALLY ADAPTIVE AIR SUSPENSION THAT OFFERS 12” OF TRAVEL AND 16” OF CLEARANCE.</p>
		  
		  </div>
   	  </div>
		
	<!-- Side Bar Section -->	
   	  <div class="col-4">
       	  <div class="side_bar">
	       <img src="img/sb_1.jpg" width="140" height="140" alt="Side Bar Img 1" class="img"/> 
				  <span class="section">TITLE 1</span><br>
			 		 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	    </div>
			 
		 <div class="side_bar">
	      <img src="img/sb_2.jpg" width="140" height="140" alt="Side Bar Img 2" class="img"/> 
			 <span class="section">TITLE 2</span><br>
			 		 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	    </div>
		
		 <div class="side_bar">
	       <img src="img/sb_3.jpg" width="140" height="140" alt="Side Bar Img 3" class="img"/> 
			 <span class="section">TITLE 3</span><br>
			 		 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	    </div>
			 
		 <div class="side_bar">
	       <img src="img/sb_4.jpg" width="140" height="140" alt="Side Bar Img 4" class="img"/> 
			 <span class="section">TITLE 4</span><br>
			 		 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	    </div>
   	  </div>
    </div>
</body>
</html>
